---
title: Investigadores
---

<ul>
<% investigadores_institutos.each do |investigador| %>
  <li>
    <%= investigador[:apellidosynombre] %> 
    <%= investigador[:sede] %>
    <%= investigador[:foto] %>
    <%= investigador[:paginapersonal] %>
    <%= investigador[:rol] %>
  </li> 
<% end %>
</ul>
