---
title: Noticias
---

<% sedes =  {"Alicante" => data.noticias_ua, "Castellón" => data.noticias_uji, "Valencia" => data.noticias_uva } %>

<% content_for(:sedes) do %>
  <!-- Sedes en breadcrumbs -->
  <div class="sedes">
  <% sedes.keys.each do |sede| %>
    <a class="sede" href="#<%= sede.urlize %>"><%= sede.mb_chars.upcase %></a>
  <% end %>
  </div>
<% end %>

<% sedes.each do |key, value| %>
  <h3 id="<%= key.urlize %>" ><%= key %></h3>
  <div class="visible-lg">
    <%= partial 'panel-noticia', locals: { noticias: value, sede: key, division: 3 , tamano_columna: 4 }  %>
  </div>
  <div class="visible-sm visible-md">
    <%= partial 'panel-noticia', locals: { noticias: value, sede: key, division: 2, tamano_columna: 6 }  %>
  </div>
  <div class="visible-xs">
    <%= partial 'panel-noticia', locals: { noticias: value, sede: key, division: 1, tamano_columna: 12 }  %>
  </div>
<% end %>
