<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset: "utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      <%= page_title %> - <%= data.site.titulo %>
    </title>
    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    // tracker methods like "setCustomDimension" should be called before "trackPageView"
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//canto.iei.ua.es/";
      _paq.push(['setTrackerUrl', u+'pk.php']);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'pk.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
  <noscript><p><img src="//canto.iei.ua.es/pk.php?idsite=3" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
    <%= stylesheet_link_tag "application" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "menu_superior" %>
    <div class="contenido" role="contenido">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= partial "footer" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
