<% rss_noticias.each do |noticia| %>
  <div class="noticia">
    <div class="row">
      <div class="col-md-3">
        <h5><%= noticia.generator %> - <%= noticia.published.strftime("%d/%m/%Y") %></h5>
      </div>
      <div class="col-md-9">
        <h5> <a class="enlace" href="<%= noticia.url %>"><%= noticia.title %></a></h5>
        <div><%= Sanitize.clean(noticia.summary) %></div>
      </div>
  </div>
<% end %>
