<% rss_noticias.each do |noticia| %>
  <div class="panel panel-warning">
    <div class="panel-heading panel-success">
      <%= noticia.title %>
      <a href="<%= noticia.url %>"></a>
    </div>
    <div class="panel-body">
        <%= noticia.content %>
    </div>
    <div class=·panel-footer">
      <span class="label label-default"><%= noticia.generator%></span>
      <%= noticia.published.strftime("%d/%m/%Y") %>
  </div>
<% end %>
