<% rss_noticias.each_slice(2) do |noticias| %>
  <div class="row">
    <% noticias.each  do |noticia| %>
      <div class="col-md-6">
        <div class="panel panel-primary panel-noticias <%= noticia.generator %>">
          <div class="panel-heading">
            <span><%= noticia.generator %></span>
            <span class="pull-right"><%= noticia.published.strftime("%d/%m/%Y") %></span>
          </div><! -- end Panel Hedading -->
          <div class="panel-body">
            <a class="enlace" href="<%= noticia.url %>"><%= noticia.title %></a>
          </div><! -- end Panel Body -->
        </div><! -- end Panel -->
      </div><! -- end Column -->
    <% end %>
  </div><!-- end row -->
<% end %>
